JZWebService/Web References/SapOa12Webservice/SI_OA_OA12_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://jiuzhou.com/OA" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_OA_OA12_OUT" targetNamespace="http://jiuzhou.com/OA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_OA_OA12_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="http://jiuzhou.com/OA" targetNamespace="http://jiuzhou.com/OA" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_OA_OA12" type="p1:DT_OA_OA12" />
      <xsd:element name="MT_OA_OA12_Resp" type="p1:DT_OA_OA12_Resp" />
      <xsd:complexType name="DT_OA_OA12_Resp">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">SAP_OA_JK_12 员工请假数据查询</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">9b80a502c9ff11e79ac2000000383e3e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEM">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">705e43fcc9fd11e7bcfa7ce9d3f03728</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="AWART" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73332c9fd11e7c2067ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>请假类型编码</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="ATEXT" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73333c9fd11e7c5577ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>请假类型文本</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_OA_OA12">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">SAP_OA_JK_12 员工请假数据查询</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">79f91afdc9ff11e78996000000383e3e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="HEAD">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">a14f043bc9ff11e797317ce9d3f03728</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="I_PERNR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73332c9fd11e7c2067ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>人员编号</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_OA_OA12">
    <wsdl:documentation />
    <wsdl:part name="MT_OA_OA12" element="p1:MT_OA_OA12" />
  </wsdl:message>
  <wsdl:message name="MT_OA_OA12_Resp">
    <wsdl:documentation />
    <wsdl:part name="MT_OA_OA12_Resp" element="p1:MT_OA_OA12_Resp" />
  </wsdl:message>
  <wsdl:portType name="SI_OA_OA12_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_OA_OA12_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_OA_OA12_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_OA_OA12" />
      <wsdl:output message="p1:MT_OA_OA12_Resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_OA_OA12_OUTBinding" type="p1:SI_OA_OA12_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_OA_OA12_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_OA_OA12_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_OA_OA12_OUTBinding">
      <address location="http://linux-tz11:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA12_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_OA_OA12_OUTBinding">
      <address location="https://linux-tz11:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA12_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>