JZWebService/Web References/SapOa13Webservice/SI_OA_OA13_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://jiuzhou.com/OA" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_OA_OA13_OUT" targetNamespace="http://jiuzhou.com/OA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_OA_OA13_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="http://jiuzhou.com/OA" targetNamespace="http://jiuzhou.com/OA" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_OA_OA13" type="p1:DT_OA_OA13" />
      <xsd:element name="MT_OA_OA13_Resp" type="p1:DT_OA_OA13_Resp" />
      <xsd:complexType name="DT_OA_OA13">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">SAP_OA_JK_13 员工请假数据转入</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">5df60716ca0611e788c1000000383e3e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEM">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">70f4c0a5ca0611e7863c7ce9d3f03728</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="I_PERNR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73332c9fd11e7c2067ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>人员编号</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="I_BEGDA" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73333c9fd11e7c5577ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>请假日期</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="L_HALF" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73334c9fd11e7bf897ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>是否全天？‘0‘，是；‘1’，否。</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="L_BEGUZ" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73335c9fd11e784397ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>开始时间</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="L_ENDUZ" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73336c9fd11e7a15c7ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>结束时间</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="I_AWART" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">70f4b1e5ca0611e7a3047ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>请假类型编码</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_OA_OA13_Resp">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">SAP_OA_JK_13 员工请假数据转入</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">3ad9f33bc9fd11e7a12e000000383e3e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEM">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">705e43fcc9fd11e7bcfa7ce9d3f03728</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="MSGID" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73334c9fd11e7bf897ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>消息编码</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="TYPE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73335c9fd11e784397ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>返回类型</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73336c9fd11e7a15c7ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>返回消息文本，仅传输错误消息，如果成功字段内容为空</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="I_PERNR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73332c9fd11e7c2067ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>人员编号</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="I_BEGDA" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73333c9fd11e7c5577ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>请假日期</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_OA_OA13">
    <wsdl:documentation />
    <wsdl:part name="MT_OA_OA13" element="p1:MT_OA_OA13" />
  </wsdl:message>
  <wsdl:message name="MT_OA_OA13_Resp">
    <wsdl:documentation />
    <wsdl:part name="MT_OA_OA13_Resp" element="p1:MT_OA_OA13_Resp" />
  </wsdl:message>
  <wsdl:portType name="SI_OA_OA13_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_OA_OA13_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_OA_OA13_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_OA_OA13" />
      <wsdl:output message="p1:MT_OA_OA13_Resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_OA_OA13_OUTBinding" type="p1:SI_OA_OA13_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_OA_OA13_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_OA_OA13_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_OA_OA13_OUTBinding">
      <address location="http://linux-tz11:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA13_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_OA_OA13_OUTBinding">
      <address location="https://linux-tz11:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA13_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>