JZWebService/Web References/SapOa17Webservice/SI_OA_OA17_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://jiuzhou.com/OA" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_OA_OA17_OUT" targetNamespace="http://jiuzhou.com/OA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_OA_OA17_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="http://jiuzhou.com/OA" targetNamespace="http://jiuzhou.com/OA" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_OA_OA17_Resp" type="p1:DT_OA_OA17_Resp" />
      <xsd:element name="MT_OA_OA17" type="p1:DT_OA_OA17" />
      <xsd:complexType name="DT_OA_OA17">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">员工出差数据查询</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">87ca9ab5056b11e887a3000000383e3e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="HEADER">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">88e70275ca7411e7b58800fffaf89a99</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="I_PERNR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fc98e5ed969a11e7cee3047d7bb7e0f5</xsd:appinfo>
                    <xsd:documentation>人员编号</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="I_BEGDA" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fc9912a5969a11e793ee047d7bb7e0f5</xsd:appinfo>
                    <xsd:documentation>出差开始时间</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="I_ENDDA" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">fc9912a6969a11e78d7a047d7bb7e0f5</xsd:appinfo>
                    <xsd:documentation>出差结束时间</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="I_BEGUZ" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04026240ca7611e7bbd300fffaf89a99</xsd:appinfo>
                    <xsd:documentation>开始时间</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="I_ENDUZ" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">04026241ca7611e7c90f00fffaf89a99</xsd:appinfo>
                    <xsd:documentation>结束时间</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="I_STDAZ" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">52f7b410f9cc11e7816e000ec6ce9d90</xsd:appinfo>
                    <xsd:documentation>加班时数</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="I_VERSL" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">554f6cb1056c11e8915b000ec6ce9d90</xsd:appinfo>
                    <xsd:documentation>加班补偿类型</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_OA_OA17_Resp">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">d22fdf5dca7511e78879000000383e3e</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ITEM">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">705e43fcc9fd11e7bcfa7ce9d3f03728</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="MSGID" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">48e73332c9fd11e7c2067ce9d3f03728</xsd:appinfo>
                    <xsd:documentation>消息编码</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="TYPE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">28cd3f2dca6f11e7a99f00fffaf89a99</xsd:appinfo>
                    <xsd:documentation>"返回类型
S 成功
E 错误
W 警告
I 信息
A 中断
"</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="MESSAGE" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">28cd3f2eca6f11e7962600fffaf89a99</xsd:appinfo>
                    <xsd:documentation>返回消息文本，仅传输错误消息，如果成功字段内容为空</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs="0" name="PERNR" type="xsd:string">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">28cd3f2fca6f11e7823800fffaf89a99</xsd:appinfo>
                    <xsd:documentation>员工编号</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_OA_OA17">
    <wsdl:documentation />
    <wsdl:part name="MT_OA_OA17" element="p1:MT_OA_OA17" />
  </wsdl:message>
  <wsdl:message name="MT_OA_OA17_Resp">
    <wsdl:documentation />
    <wsdl:part name="MT_OA_OA17_Resp" element="p1:MT_OA_OA17_Resp" />
  </wsdl:message>
  <wsdl:portType name="SI_OA_OA17_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_OA_OA17_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_OA_OA17_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_OA_OA17" />
      <wsdl:output message="p1:MT_OA_OA17_Resp" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_OA_OA17_OUTBinding" type="p1:SI_OA_OA17_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_OA_OA17_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_OA_OA17_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_OA_OA17_OUTBinding">
      <address location="http://linux-tz11:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA17_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_OA_OA17_OUTBinding">
      <address location="https://linux-tz11:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_OA_DEV&amp;receiverParty=&amp;receiverService=&amp;interface=SI_OA_OA17_OUT&amp;interfaceNamespace=http%3A%2F%2Fjiuzhou.com%2FOA" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>